html, body {
  margin: 5px;
  padding: 0;
}
canvas {
  display: block;
}
body { background-color: lightblue; font-family: "Courier"; font-size: 24px;  }

h1 { font-family: "Courier", fantasy; text-align: center; color: darkgreen }
h2 { color: brown}

h3 { color: #444; margin-left: 20px}

p {font-family: "Arial"; font-size: 30px}
